<footer>
    <div class="footer-section"></div>
    <div class="footer-section">
      <h3>Useful Links</h3>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/viewAppointment">View Appointment</a></li>
        <li><a routerLink="/placeAppointment">Place Appointment</a></li>
        <li><a routerLink="/query">Query</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Contact</h3>
      <p>Your static address here</p>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
      </div>
  </footer>
  