.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 1rem;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links li a:hover {
    color: #ffc107; /* Change to your preferred hover color */
  }
  