<app-header-pg></app-header-pg>

<div class="mainContainer">

    <h2>Intro Text</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quis voluptatum, esse earum ex neque magnam odit
        minima fuga aut quidem eveniet accusantium reprehenderit Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Cumque quis voluptatum, esse earum ex neque magnam odit
        minima fuga aut quidem eveniet accusantium reprehenderitLorem ipsum dolor sit amet consectetur adipisicing elit.
        Cumque quis voluptatum, esse earum ex neque magnam odit
        minima fuga aut quidem eveniet accusantium reprehenderit Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Cumque quis voluptatum, esse earum ex neque magnam odit
        minima fuga aut quidem eveniet accusantium reprehenderit hic voluptatem. Totam doloribus cupiditate vero?
    </p>
</div>
<app-footer-pg></app-footer-pg>