<app-header-pg></app-header-pg>
<div class="container">
    <form [formGroup]="enquiryForm" class="enquiry-form">
        <h2>Drop us a message</h2>
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name">
          <div *ngIf="submitted && enquiryForm.get('name')?.hasError('required')" class="error">Name is required</div>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email">
          <div *ngIf="submitted && enquiryForm.get('email')?.hasError('required')" class="error">Email is required</div>
          <div *ngIf="submitted && enquiryForm.get('email')?.hasError('email')" class="error">Invalid email format</div>
        </div>
        <div>
          <label for="phone">Phone</label>
          <input type="tel" id="phone" formControlName="phone">
          <div *ngIf="submitted && enquiryForm.get('phone')?.hasError('required')" class="error">Phone is required</div>
        </div>
        <div>
          <label for="message">Message</label>
          <textarea id="message" formControlName="message"></textarea>
          <div *ngIf="submitted && enquiryForm.get('message')?.hasError('required')" class="error">Message is required</div>
          <div *ngIf="submitted && enquiryForm.get('message')?.hasError('maxlength')" class="error">Message should not exceed 200 characters</div>
        </div>
        
        <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<button (click)="submitEnquiry()">send</button>
        
      </form>
</div>
<app-footer-pg></app-footer-pg>
